@media (max-width: 2200px) {
    .item{
        position: relative;
        width: 60px;
        height: 60px;
    }

    .lineImj {
        width: 70vw;
    }

    .search {
        width: 70vw;
    }

}

@media (max-width: 1200px) {
    .item{
        position: relative;
        width: 55px;
        height: 55px;
    }

    .lineImj {
        width: 70vw;
    }

    .search {
        width: 80vw;
    }

}


@media (max-width: 768px) {
    .item{
        position: relative;
        width: 40px;
        height: 40px;
    }

    .lineImj {
        max-width: 95vw;
    }

    .search {
        width: 95vw;
    }

    .item-emoji{
        font-size: 1.4em;
    }
}