.header {
  text-align: center;
  margin: 30px 0px;
  line-height: 1.4em;
}

.theme-info {
    font-size: 0.6em;
}

.github {
  height: 30px;
}

.Bear_line {
    position: relative;
    display: flex;
    top: 40px;
    justify-content: space-between;
}